.link {
    text-decoration: none;
}

.container {
    max-width: 584px;
    background: #1C1C21;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.title {
    max-width: 536px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ingredientsContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 436px;
}

.ingredient {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: solid 2px #801AB2;
    margin-left: -10px;
    background: #000000;
}

.ingredient:nth-of-type(1) {
    margin-left: 0;
    z-index: 6;
}

.ingredient:nth-of-type(2) {
    z-index: 5;
}

.ingredient:nth-of-type(3) {
    z-index: 4;
}

.ingredient:nth-of-type(4) {
    z-index: 3;
}

.ingredient:nth-of-type(5) {
    z-index: 2;
}

.ingredient:nth-of-type(6):after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: attr(data-count);
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: rgba(28, 28, 33,0.6);
    color: white;
}

.ingredientImage {
    height: 56px;
}

.price {
    display: flex;
    align-items: center;
    gap: 9px;
}