.information {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.image {
    display: flex;
    justify-content: center;
    width: 480px;
    height: 240px;
}

.name {
    text-align: center;
}

.text {
   text-align: center;
}
